{include file="common/product-head"/}
            <div class="container">
                <div class="product-type product-type-white product-type1">
                    <h3 class="clearfix"><i class="pull-left"></i><span class="pull-left">PC网页支付</span></h3>
                    <div class="product-type-txt">
                        <p>如同电商们的支付页面，接入后即可使用支付宝、</p>
                        <p>微信的网页支付以及扫码支付，银联网页支付等。</p>
                    </div>
                </div>
                <img src="/static/ipay/images/banner-right3.png" class="pay-top-right pc-pay-top-right">
            </div>
        </div>
        <div class="bgf">
            <div class="container ">
                <div class="row">
                    <div class="matter-item">
                        <h3 class="matter-item-t text-center">· 支持以下支付渠道 ·</h3>
                        <div class="pull-no col-md-9 matter-item-main">
                            <div class="line-main clearfix line-main2">
                                <a class="col-md-1-5">
                                    <i class="icon2"><span></span></i>
                                    <p>微信支付</p>
                                </a>
                                <a class="col-md-1-5">
                                    <i class="icon1"><span></span></i>
                                    <p>支付宝</p>
                                </a>
                                <a class="col-md-1-5">
                                    <i class="icon4"><span></span></i>
                                    <p>手机QQ钱包</p>
                                </a>
                                <a class="col-md-1-5">
                                    <i class="icon7"><span></span></i>
                                    <p>银联支付</p>
                                </a>
                                <a class="col-md-1-5">
                                    <i class="icon10"><span></span></i>
                                    <p>网银支付</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="joinmode-item col-md-12 text-center">
                        <h3 class="matter-item-t text-center">· 接入方式 ·</h3>
                        <h4>寻找接入API相关问题？</h4>
                        <p>关于各种支付方式接入问题，可前往开发者中心-API文档查看相关信息。</p>
                        <div class="fifth-contet-btn">
                            <a class="btn btn-black btn-red" ui-sref="webPay" target="_blank" ng-btn-hover="" href="/support/doc">查看API文档</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/index-foot" /}