    {include file="common/product-head"/}
    <div class="container container-style container-style3 container-large-height">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail sdk-type  sdk-type2">
                    <div class="identifying">
                        <p>Android</p>
                        <p>文档+SDK</p>
                    </div>
                    <div class="caption">
                        <p><a target="_blank" href="https://github.com/iPaynow/ipaynowClientDemo.git">聚合SDK下载</a></p>
                        <!--<p><a href="">跨境支付SDK下载</a></p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail sdk-type sdk-type1">
                    <div class="identifying">
                        <p>IOS</p>
                        <p>文档+SDK</p>
                    </div>
                    <div class="caption">
                        <p><a target="_blank" href="https://github.com/iPaynow/ipaynowClientDemo.git">聚合SDK下载</a></p>
                        <!--<p><a href="">跨境支付SDK下载</a></p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail sdk-type sdk-type3">
                    <div class="identifying">
                        <p>服务器端</p>
                        <p>文档+SDK</p>
                    </div>
                    <div class="caption">
                        <p><a target="_blank" href="https://github.com/iPaynow/iPaynowDomesticServerSDK.git">服务端SDK下载</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>